In [1]:
"""
Pregătire mediu de lucru
Stabilirea conexiunii dintre Google drive si Colab notebook
"""
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Instalarea PySpark

!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://dlcdn.apache.org/spark/
!wget -q https://dlcdn.apache.org/spark/spark-3.4.4/spark-3.4.4-bin-hadoop3.tgz
!tar xf spark-3.4.4-bin-hadoop3.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.4.4-bin-hadoop3"

import findspark
findspark.init()
findspark.find()
import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
  .builder \
  .getOrCreate()

spark

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:8 http://security.ubuntu.com/ubuntu jammy-security/multiverse amd64 Packages [47.7 kB]
Get:9 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,735 kB]
Hit:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,239 kB]
Hit:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:14 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [3,884 kB]
Get:15 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,381 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [4,049 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,045 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [55.7 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,538 kB]
Get:20 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,684 kB]
Get:21 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,784 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [35.2 kB]
Fetched 29.9 MB in 4s (7,011 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
38 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: py4j in /usr/local/lib/python3.11/dist-packages (0.10.9.7)

In [55]:
data_type ='json'
path      = '/content/drive/MyDrive/Colab Notebooks/Data/Data/practice/'+ data_type
data_df   = spark.read.format(data_type).load(path)
data_df.show(10, truncate = False)

+-----------------------+-------+-----------+--------------------+------+-------+
|extra                  |inactiv|nume       |ocupatie            |varsta|vechime|
+-----------------------+-------+-----------+--------------------+------+-------+
|[PV, EV]               |NULL   |Andrei     |Specialist marketing|38    |13     |
|[3D Printer, WII]      |NULL   |Alexandru  |Specialist HR       |34    |8      |
|[AC, EV, 5G Router]    |NULL   |Adrian     |Inginer civil       |45    |23     |
|[XBOX]                 |NULL   | Alin      |Vânzător  retail    |26    |2      |
|[5G Router, 3D Printer]|NULL   |Anton      |Manager proiect     |40    |15     |
|[EV, AC]               |NULL   |Ana        |Muncitor alimentar  |35    |9      |
|[PC, 3D Printer, AC]   |false  |Bogdan     |Farmacist           |50    |32     |
|NULL                   |true   |  Cătălin  |Medic primar        |20    |0      |
|[AC, XBOX, PV]         |NULL   |Cosmin     |Farmacist           |49    |31     |
|[XBOX, 3D Printer, EV] |false  |Cristian   | Asistent  social   |44    |21     |
+-----------------------+-------+-----------+--------------------+------+-------+
only showing top 10 rows

In [5]:
data_df.printSchema()

root
 |-- extra: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- inactiv: boolean (nullable = true)
 |-- nume: string (nullable = true)
 |-- ocupatie: string (nullable = true)
 |-- varsta: long (nullable = true)
 |-- vechime: long (nullable = true)

In [6]:
data_df.show()

+--------------------+-------+-----------+--------------------+------+-------+
|               extra|inactiv|       nume|            ocupatie|varsta|vechime|
+--------------------+-------+-----------+--------------------+------+-------+
|            [PV, EV]|   NULL|     Andrei|Specialist marketing|    38|     13|
|   [3D Printer, WII]|   NULL|  Alexandru|      Specialist HR |    34|      8|
| [AC, EV, 5G Router]|   NULL|     Adrian|       Inginer civil|    45|     23|
|              [XBOX]|   NULL|      Alin |   Vânzător  retail |    26|      2|
|[5G Router, 3D Pr...|   NULL|      Anton|     Manager proiect|    40|     15|
|            [EV, AC]|   NULL|        Ana|  Muncitor alimentar|    35|      9|
|[PC, 3D Printer, AC]|  false|     Bogdan|           Farmacist|    50|     32|
|                NULL|   true|  Cătălin  |        Medic primar|    20|      0|
|      [AC, XBOX, PV]|   NULL|     Cosmin|           Farmacist|    49|     31|
|[XBOX, 3D Printer...|  false|   Cristian|    Asistent  social|    44|     21|
|[3D Printer, 3D P...|   NULL|    Gabriel|     Asistent social|    44|     21|
|[3D Printer, AC, ...|  false|     George|     Agent imobiliar|    46|     25|
|   [WII, 3D Printer]|   NULL|   Gheorghe|      Specialist HR |    34|      8|
|[WII, 5G Router, ...|   NULL|    Grigore|    Asistent  social|    44|     21|
|     [5G Router, PV]|   NULL|      Horia|           Arhitect |    42|     18|
|                [PC]|   NULL|      Ilie |     Vânzător retail|    26|      2|
|              [XBOX]|   NULL|       Ion |     Vânzător retail|    27|      2|
|[EV, XBOX, 3D Pri...|   NULL|      Ionel|     Inginer  civil |    45|     23|
|                NULL|   NULL|     Iosif |   Vânzător  retail |    26|      2|
|      [PV, XBOX, AC]|  false|     Lucian|     Designer grafic|    49|     30|
+--------------------+-------+-----------+--------------------+------+-------+
only showing top 20 rows

In [7]:
data_type     = 'parquet'
path          = '/content/drive/MyDrive/Colab Notebooks/Data/Data/practice/'+ data_type
data_practice = spark.read.format(data_type).load(path)
data_practice.show()

+------------+------+--------------------+-------+-------+--------------------+
|        nume|varsta|            ocupatie|vechime|inactiv|               extra|
+------------+------+--------------------+-------+-------+--------------------+
|       Daria|    33|   Inginer  mecanic |      7|   NULL|                [EV]|
|     Delia  |    20|        Medic primar|      0|   true|                NULL|
|       Diana|    45|   Asistent  social |     23|   NULL|[XBOX, 3D Printer...|
|       Doina|    37|Specialist  marke...|     11|   NULL|          [WII, PS5]|
|      Elena |    25|            Contabil|      1|   NULL|                NULL|
|     Eliza  |    23|          Instalator|      0|   NULL|                NULL|
|     Emilia |    25|            Contabil|      1|   NULL|                NULL|
|   Eugenia  |    24|        Programator |      1|   NULL|                NULL|
|     Felicia|    34|      Specialist  HR|      8|   NULL|          [WII, PS5]|
|    Florina |    28|               Șofer|      3|   NULL|                [EV]|
|      Vasile|    40|     Manager proiect|     15|   NULL|            [AC, AC]|
|      Victor|    42|            Arhitect|     18|   NULL|   [5G Router, XBOX]|
|      Viorel|    50|          Farmacist |     32|  false|[PS5, 3D Printer,...|
|  Vladimir  |    18|   Asistent  medical|      0|   true|                NULL|
|     Voicu  |    22|          Instalator|      0|   NULL|                NULL|
|      Zamfir|    46|       Inginer civil|     24|   NULL|[3D Printer, 3D P...|
|  Alexandra |    29|Operator call center|      4|  false|                [PC]|
|         Ana|    45|     Asistent social|     22|   NULL|[3D Printer, 5G R...|
|       Alina|    44|    Asistent  social|     21|   NULL|      [PS5, AC, PS5]|
|       Adela|    40|    Manager  proiect|     15|   NULL|    [3D Printer, PC]|
+------------+------+--------------------+-------+-------+--------------------+
only showing top 20 rows

In [8]:
from pyspark.sql import functions as f

In [56]:
data_practice.count()

103

In [10]:
data_practice.show(truncate=False)

+------------+------+----------------------+-------+-------+----------------------------+
|nume        |varsta|ocupatie              |vechime|inactiv|extra                       |
+------------+------+----------------------+-------+-------+----------------------------+
|Daria       |33    |Inginer  mecanic      |7      |NULL   |[EV]                        |
|  Delia     |20    |Medic primar          |0      |true   |NULL                        |
|Diana       |45    |Asistent  social      |23     |NULL   |[XBOX, 3D Printer, PV]      |
|Doina       |37    |Specialist  marketing |11     |NULL   |[WII, PS5]                  |
| Elena      |25    |Contabil              |1      |NULL   |NULL                        |
|  Eliza     |23    |Instalator            |0      |NULL   |NULL                        |
| Emilia     |25    |Contabil              |1      |NULL   |NULL                        |
|  Eugenia   |24    |Programator           |1      |NULL   |NULL                        |
|Felicia     |34    |Specialist  HR        |8      |NULL   |[WII, PS5]                  |
| Florina    |28    |Șofer                 |3      |NULL   |[EV]                        |
|Vasile      |40    |Manager proiect       |15     |NULL   |[AC, AC]                    |
|Victor      |42    |Arhitect              |18     |NULL   |[5G Router, XBOX]           |
|Viorel      |50    | Farmacist            |32     |false  |[PS5, 3D Printer, PC]       |
|  Vladimir  |18    |Asistent  medical     |0      |true   |NULL                        |
|  Voicu     |22    |Instalator            |0      |NULL   |NULL                        |
|Zamfir      |46    |Inginer civil         |24     |NULL   |[3D Printer, 3D Printer, AC]|
| Alexandra  |29    |Operator call center  |4      |false  |[PC]                        |
|Ana         |45    |Asistent social       |22     |NULL   |[3D Printer, 5G Router, PV] |
|Alina       |44    |Asistent  social      |21     |NULL   |[PS5, AC, PS5]              |
|Adela       |40    |Manager  proiect      |15     |NULL   |[3D Printer, PC]            |
+------------+------+----------------------+-------+-------+----------------------------+
only showing top 20 rows

Curățarea coloanei „nume” de spații suplimentare - Se recomandă folosirea funcției trim sau replace.

Curățarea coloanei „ocupatie” de sparții suplimentare -  Se recomandă folosirea funcției trim sau replace.

Eliminarea diacriticelor din coloana „nume” -

Scoaterea valorilor duplicate din coloana „extra”

Setarea coloanei „inactiv” pe false atunci când valoarea lipsește. - Se recomandă folosirea funcției coalesce.

In [31]:
from pyspark.sql.functions import col, lit, trim, coalesce, translate, array_distinct, concat, when, size, array_join, desc_nulls_last, desc

In [17]:
df_tasks = (
    data_practice
    .withColumn('nume', trim(col('nume'))   )
    .withColumn('ocupatie',trim(col('ocupatie')))
    .withColumn('inactiv',coalesce(col('inactiv'),f.lit(False) ) )
    .withColumn('nume',translate(col('nume'),'șțăîâ','staia' ))
    .withColumn('extra',array_distinct(col('extra')))
)

In [18]:
df_tasks.show()

+---------+------+--------------------+-------+-------+--------------------+
|     nume|varsta|            ocupatie|vechime|inactiv|               extra|
+---------+------+--------------------+-------+-------+--------------------+
|    Daria|    33|    Inginer  mecanic|      7|  false|                [EV]|
|    Delia|    20|        Medic primar|      0|   true|                NULL|
|    Diana|    45|    Asistent  social|     23|  false|[XBOX, 3D Printer...|
|    Doina|    37|Specialist  marke...|     11|  false|          [WII, PS5]|
|    Elena|    25|            Contabil|      1|  false|                NULL|
|    Eliza|    23|          Instalator|      0|  false|                NULL|
|   Emilia|    25|            Contabil|      1|  false|                NULL|
|  Eugenia|    24|         Programator|      1|  false|                NULL|
|  Felicia|    34|      Specialist  HR|      8|  false|          [WII, PS5]|
|  Florina|    28|               Șofer|      3|  false|                [EV]|
|   Vasile|    40|     Manager proiect|     15|  false|                [AC]|
|   Victor|    42|            Arhitect|     18|  false|   [5G Router, XBOX]|
|   Viorel|    50|           Farmacist|     32|  false|[PS5, 3D Printer,...|
| Vladimir|    18|   Asistent  medical|      0|   true|                NULL|
|    Voicu|    22|          Instalator|      0|  false|                NULL|
|   Zamfir|    46|       Inginer civil|     24|  false|    [3D Printer, AC]|
|Alexandra|    29|Operator call center|      4|  false|                [PC]|
|      Ana|    45|     Asistent social|     22|  false|[3D Printer, 5G R...|
|    Alina|    44|    Asistent  social|     21|  false|           [PS5, AC]|
|    Adela|    40|    Manager  proiect|     15|  false|    [3D Printer, PC]|
+---------+------+--------------------+-------+-------+--------------------+
only showing top 20 rows

Adăugarea coloanei „varstă_la_contractare” egală cu diferența dintre vârsta persoanei și vechime

Scoaterea coloanei „vechime”

Adăugarea coloanei „text_descriptiv” care să fie un text ce descrie clientul și conține neapărat toate informațiile știute despre el, mai puțin despre starea contractului dacă este activ. (e.g. X, în vârstă de ... ani,
este ...). Atenție la cazul special la coloana „extra” când numărul de elemente este 0. -  Se recomandă cel folosirea funcțiilor when și printf.

In [23]:
df_transformare = (
    data_practice
    .withColumn('varsta_la_contractare',col('varsta') - col('vechime'))
    .drop(col('vechime'))
  #  .withColumn('array_extra', array_join(col('extra'),', '))
  #  .withColumn('extra cnt', size(col('extra') ) )
    .withColumn('text_descriptiv',
                trim(
                    concat(
                          col('nume'),
                          lit(', in varsta de '),
                          col('varsta'),
                          lit(' ani, este '),
                          col('ocupatie'),

                          when(
                              size(f.col('extra') ) > 0 ,
                                concat(
                                      lit(' cu extra activitati in : ') ,
                                      array_join(col('extra'),', '))
                          )
                          .otherwise(lit(''))

                      )                                                                              ))
)

In [59]:
df_transformare.explain('extended')

== Parsed Logical Plan ==
'Project [nume#83, varsta#84, ocupatie#85, inactiv#87, extra#88, varsta_la_contractare#388, trim(concat('nume, , in varsta de , 'varsta,  ani, este , 'ocupatie, CASE WHEN (size('extra, true) > 0) THEN concat( cu extra activitati in : , array_join('extra, , , None)) ELSE  END), None) AS text_descriptiv#402]
+- Project [nume#83, varsta#84, ocupatie#85, inactiv#87, extra#88, varsta_la_contractare#388]
   +- Project [nume#83, varsta#84, ocupatie#85, vechime#86, inactiv#87, extra#88, (varsta#84 - vechime#86) AS varsta_la_contractare#388]
      +- Relation [nume#83,varsta#84,ocupatie#85,vechime#86,inactiv#87,extra#88] parquet

== Analyzed Logical Plan ==
nume: string, varsta: int, ocupatie: string, inactiv: boolean, extra: array<string>, varsta_la_contractare: int, text_descriptiv: string
Project [nume#83, varsta#84, ocupatie#85, inactiv#87, extra#88, varsta_la_contractare#388, trim(concat(nume#83, , in varsta de , cast(varsta#84 as string),  ani, este , ocupatie#85, CASE WHEN (size(extra#88, true) > 0) THEN concat( cu extra activitati in : , array_join(extra#88, , , None)) ELSE  END), None) AS text_descriptiv#402]
+- Project [nume#83, varsta#84, ocupatie#85, inactiv#87, extra#88, varsta_la_contractare#388]
   +- Project [nume#83, varsta#84, ocupatie#85, vechime#86, inactiv#87, extra#88, (varsta#84 - vechime#86) AS varsta_la_contractare#388]
      +- Relation [nume#83,varsta#84,ocupatie#85,vechime#86,inactiv#87,extra#88] parquet

== Optimized Logical Plan ==
Project [nume#83, varsta#84, ocupatie#85, inactiv#87, extra#88, (varsta#84 - vechime#86) AS varsta_la_contractare#388, trim(concat(nume#83, , in varsta de , cast(varsta#84 as string),  ani, este , ocupatie#85, CASE WHEN (size(extra#88, true) > 0) THEN concat( cu extra activitati in : , array_join(extra#88, , , None)) ELSE  END), None) AS text_descriptiv#402]
+- Relation [nume#83,varsta#84,ocupatie#85,vechime#86,inactiv#87,extra#88] parquet

== Physical Plan ==
*(1) Project [nume#83, varsta#84, ocupatie#85, inactiv#87, extra#88, (varsta#84 - vechime#86) AS varsta_la_contractare#388, trim(concat(nume#83, , in varsta de , cast(varsta#84 as string),  ani, este , ocupatie#85, CASE WHEN (size(extra#88, true) > 0) THEN concat( cu extra activitati in : , array_join(extra#88, , , None)) ELSE  END), None) AS text_descriptiv#402]
+- *(1) ColumnarToRow
   +- FileScan parquet [nume#83,varsta#84,ocupatie#85,vechime#86,inactiv#87,extra#88] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/content/drive/MyDrive/Colab Notebooks/Data/Data/practice/parquet], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<nume:string,varsta:int,ocupatie:string,vechime:int,inactiv:boolean,extra:array<string>>

In [24]:
df_transformare.show(truncate=False)

+------------+------+----------------------+-------+----------------------------+---------------------+---------------------------------------------------------------------------------------------------+
|nume        |varsta|ocupatie              |inactiv|extra                       |varsta_la_contractare|text_descriptiv                                                                                    |
+------------+------+----------------------+-------+----------------------------+---------------------+---------------------------------------------------------------------------------------------------+
|Daria       |33    |Inginer  mecanic      |NULL   |[EV]                        |26                   |Daria, in varsta de 33 ani, este Inginer  mecanic  cu extra activitati in : EV                     |
|  Delia     |20    |Medic primar          |true   |NULL                        |20                   |Delia  , in varsta de 20 ani, este Medic primar                                                    |
|Diana       |45    |Asistent  social      |NULL   |[XBOX, 3D Printer, PV]      |22                   |Diana, in varsta de 45 ani, este Asistent  social  cu extra activitati in : XBOX, 3D Printer, PV   |
|Doina       |37    |Specialist  marketing |NULL   |[WII, PS5]                  |26                   |Doina, in varsta de 37 ani, este Specialist  marketing  cu extra activitati in : WII, PS5          |
| Elena      |25    |Contabil              |NULL   |NULL                        |24                   |Elena , in varsta de 25 ani, este Contabil                                                         |
|  Eliza     |23    |Instalator            |NULL   |NULL                        |23                   |Eliza  , in varsta de 23 ani, este Instalator                                                      |
| Emilia     |25    |Contabil              |NULL   |NULL                        |24                   |Emilia , in varsta de 25 ani, este Contabil                                                        |
|  Eugenia   |24    |Programator           |NULL   |NULL                        |23                   |Eugenia  , in varsta de 24 ani, este Programator                                                   |
|Felicia     |34    |Specialist  HR        |NULL   |[WII, PS5]                  |26                   |Felicia, in varsta de 34 ani, este Specialist  HR cu extra activitati in : WII, PS5                |
| Florina    |28    |Șofer                 |NULL   |[EV]                        |25                   |Florina , in varsta de 28 ani, este Șofer cu extra activitati in : EV                              |
|Vasile      |40    |Manager proiect       |NULL   |[AC, AC]                    |25                   |Vasile, in varsta de 40 ani, este Manager proiect cu extra activitati in : AC, AC                  |
|Victor      |42    |Arhitect              |NULL   |[5G Router, XBOX]           |24                   |Victor, in varsta de 42 ani, este Arhitect cu extra activitati in : 5G Router, XBOX                |
|Viorel      |50    | Farmacist            |false  |[PS5, 3D Printer, PC]       |18                   |Viorel, in varsta de 50 ani, este  Farmacist  cu extra activitati in : PS5, 3D Printer, PC         |
|  Vladimir  |18    |Asistent  medical     |true   |NULL                        |18                   |Vladimir  , in varsta de 18 ani, este Asistent  medical                                            |
|  Voicu     |22    |Instalator            |NULL   |NULL                        |22                   |Voicu  , in varsta de 22 ani, este Instalator                                                      |
|Zamfir      |46    |Inginer civil         |NULL   |[3D Printer, 3D Printer, AC]|22                   |Zamfir, in varsta de 46 ani, este Inginer civil cu extra activitati in : 3D Printer, 3D Printer, AC|
| Alexandra  |29    |Operator call center  |false  |[PC]                        |25                   |Alexandra , in varsta de 29 ani, este Operator call center cu extra activitati in : PC             |
|Ana         |45    |Asistent social       |NULL   |[3D Printer, 5G Router, PV] |23                   |Ana, in varsta de 45 ani, este Asistent social cu extra activitati in : 3D Printer, 5G Router, PV  |
|Alina       |44    |Asistent  social      |NULL   |[PS5, AC, PS5]              |23                   |Alina, in varsta de 44 ani, este Asistent  social cu extra activitati in : PS5, AC, PS5            |
|Adela       |40    |Manager  proiect      |NULL   |[3D Printer, PC]            |25                   |Adela, in varsta de 40 ani, este Manager  proiect cu extra activitati in : 3D Printer, PC          |
+------------+------+----------------------+-------+----------------------------+---------------------+---------------------------------------------------------------------------------------------------+
only showing top 20 rows

### Afișarea clienților inactivi / Afișarea contractelor inactive

In [25]:
df_inactive_contracts = df_tasks.filter('inactiv is True')
df_inactive_contracts.show(20)
#df_inactive_contracts.count()

+--------+------+-----------------+-------+-------+-----+
|    nume|varsta|         ocupatie|vechime|inactiv|extra|
+--------+------+-----------------+-------+-------+-----+
|   Delia|    20|     Medic primar|      0|   true| NULL|
|Vladimir|    18|Asistent  medical|      0|   true| NULL|
|   Rares|    19|         Profesor|      0|   true| NULL|
|  Razvan|    20|         Profesor|      0|   true| NULL|
|  Teodor|    18| Asistent medical|      0|   true| NULL|
|    Gina|    18|Asistent  medical|      0|   true| NULL|
| Catalin|    20|     Medic primar|      0|   true| NULL|
|  Florin|    20|    Medic  primar|      0|   true| NULL|
| Liliana|    19|         Profesor|      0|   true| NULL|
|    Paul|    19|         Profesor|      0|   true| NULL|
|     Bea|    29|                 |      7|   true| NULL|
+--------+------+-----------------+-------+-------+-----+


### Afișarea clienților cu minim și maxim de vechime / Afișarea contractelor care au minim 2 ani de vechime și maxim 5 ani vechime, inclusiv.

In [27]:
df_vechime_2y_to_5y = (
    df_tasks
    .filter(col('vechime') >= 2)
    .filter(col('vechime') <= 5)
)
df_vechime_2y_to_5y.show(20)

+---------+------+--------------------+-------+-------+------------------+
|     nume|varsta|            ocupatie|vechime|inactiv|             extra|
+---------+------+--------------------+-------+-------+------------------+
|  Florina|    28|               Șofer|      3|  false|              [EV]|
|Alexandra|    29|Operator call center|      4|  false|              [PC]|
|    Remus|    28|               Șofer|      3|  false|            [XBOX]|
|    Sorin|    30|Operator  call ce...|      4|  false|             [PS5]|
| Georgeta|    28|              Zugrav|      3|  false|            [XBOX]|
|     Alin|    26|    Vânzător  retail|      2|  false|            [XBOX]|
|     Ilie|    26|     Vânzător retail|      2|  false|              [PC]|
|      Ion|    27|     Vânzător retail|      2|  false|            [XBOX]|
|    Iosif|    26|    Vânzător  retail|      2|  false|              NULL|
|     Anca|    30|Operator call center|      4|  false|              [PC]|
|  Camelia|    30|Operator call center|      4|  false|              [PV]|
|     Dinu|    26|     Vânzător retail|      2|  false|      [3D Printer]|
|     Emil|    29|               Șofer|      4|  false|            [XBOX]|
|  Mariana|    31|  Analist  financiar|      5|  false|       [5G Router]|
|   Monica|    27|              Zugrav|      2|  false|            [XBOX]|
|  Nicolae|    28|              Zugrav|      3|  false|      [3D Printer]|
|     Radu|    27|              Zugrav|      2|  false|            [XBOX]|
|     Vali|    23|                    |      4|  false|[3D Printer, XBOX]|
+---------+------+--------------------+-------+-------+------------------+

### Afișarea celor mai în vârstă persoane cu orice fel de contract  / Afișarea top 10 contracte sortate după vârsta lor descrescător

In [29]:
df_invarsta = (
    df_tasks
    .sort(desc_nulls_last(col('varsta')))
    .limit(10)
    )

df_invarsta.show()

+--------+------+----------------+-------+-------+--------------------+
|    nume|varsta|        ocupatie|vechime|inactiv|               extra|
+--------+------+----------------+-------+-------+--------------------+
|  Bogdan|    50|       Farmacist|     32|  false|[PC, 3D Printer, AC]|
|  Viorel|    50|       Farmacist|     32|  false|[PS5, 3D Printer,...|
|  Carmen|    50|       Farmacist|     32|  false|    [3D Printer, AC]|
| Mihaela|    49|Designer  grafic|     30|  false|       [WII, AC, PV]|
|  Lucian|    49| Designer grafic|     30|  false|      [PV, XBOX, AC]|
|  Cosmin|    49|       Farmacist|     31|  false|      [AC, XBOX, PV]|
|  Ștefan|    47| Agent imobiliar|     26|  false|    [XBOX, PS5, WII]|
|  Zamfir|    46|   Inginer civil|     24|  false|    [3D Printer, AC]|
|  George|    46| Agent imobiliar|     25|  false|[3D Printer, AC, ...|
|Cristina|    46| Agent imobiliar|     25|  false|[PS5, XBOX, 3D Pr...|
+--------+------+----------------+-------+-------+--------------------+

### Afișarea celor mai în vârstă oameni la contractare / Afișarea top 5 contracte active sortate după vârsta la contractare descrescător

In [32]:
df_4 = (
    df_tasks
    .withColumn('varsta la contractare',(col('varsta') - col('vechime')))
)
df_4.sort(desc('varsta la contractare')).limit(5).show()

+---------+------+------------------+-------+-------+-----------+---------------------+
|     nume|varsta|          ocupatie|vechime|inactiv|      extra|varsta la contractare|
+---------+------+------------------+-------+-------+-----------+---------------------+
|    Maria|    34|     Specialist HR|      8|  false|   [EV, PC]|                   26|
|  Tiberiu|    32|Analist  financiar|      6|  false|      [PS5]|                   26|
|  Mariana|    31|Analist  financiar|      5|  false|[5G Router]|                   26|
|      Ana|    35|Muncitor alimentar|      9|  false|   [EV, AC]|                   26|
|Magdalena|    37|       Electrician|     11|  false|  [PS5, PV]|                   26|
+---------+------+------------------+-------+-------+-----------+---------------------+

Reutilizarea Operațiilor

 Împărțiți setul de date în patru segmente, folosindu-vă de coloana "inactiv" și criteriul vârstei.

 Creați un segment pentru cei cu vârsta de până la 30 de ani inclusiv și un altul pentru cei peste 30 de ani, aplicând
această divizare atât pentru înregistrările active, cât și pentru cele inactive.

 Scrieți fiecare set de date într-o locație diferită.

 Înainte de scrierea fiecărui segment, afișați datele (nu uitați să cache-uiți setul de date și înainte de
afișare, nu numai înainte de împărțire)

In [33]:

cached_data_df = df_tasks.select('varsta', 'inactiv').cache()

df_active_young = (
    cached_data_df
    .filter(col('varsta') <=  lit(30) )
     .filter('inactiv is false')
    .cache()
)


df_inactive_young = (
    cached_data_df
    .filter(col('varsta') <=  lit(30) )
    .filter('inactiv is True')
    .cache()
)

df_active_old = (
    cached_data_df
    .filter(col('varsta') >  lit(30) )
    .filter('inactiv is False')
    .cache()
)

df_inactive_old = (
    cached_data_df
    .filter(col('varsta') >  lit(30) )
    .filter('inactiv is True')
    .cache()
)

In [35]:
df_active_young.show(10)

+------+-------+
|varsta|inactiv|
+------+-------+
|    25|  false|
|    23|  false|
|    25|  false|
|    24|  false|
|    28|  false|
|    22|  false|
|    29|  false|
|    23|  false|
|    28|  false|
|    22|  false|
+------+-------+
only showing top 10 rows

In [36]:
df_inactive_young.show(10)

+------+-------+
|varsta|inactiv|
+------+-------+
|    20|   true|
|    18|   true|
|    19|   true|
|    20|   true|
|    18|   true|
|    18|   true|
|    20|   true|
|    20|   true|
|    19|   true|
|    19|   true|
+------+-------+
only showing top 10 rows

In [37]:
df_active_old.show(10)

+------+-------+
|varsta|inactiv|
+------+-------+
|    33|  false|
|    45|  false|
|    37|  false|
|    34|  false|
|    40|  false|
|    42|  false|
|    50|  false|
|    46|  false|
|    45|  false|
|    44|  false|
+------+-------+
only showing top 10 rows

In [38]:
df_inactive_old.show()

+------+-------+
|varsta|inactiv|
+------+-------+
+------+-------+

In [47]:

data_format   = 'parquet'
output_folder = '/content/drive/MyDrive/Colab Notebooks/Data/Data/output/parquet/'
df_active_young.write.format(data_format).save(output_folder + '1') # datele df_active_young se vor salva in folderul 1
df_inactive_young.write.format(data_format).save(output_folder + '2') # datele df_inactive_young se vor salva in folderul 2
df_active_old.write.format(data_format).save(output_folder + '3')
df_inactive_old.write.format(data_format).save(output_folder + '4')

In [48]:
data_without_personal_columns_df = data_practice.drop('varsta', 'extra')

In [49]:
data_without_personal_columns_df.show(10)

+------------+--------------------+-------+-------+
|        nume|            ocupatie|vechime|inactiv|
+------------+--------------------+-------+-------+
|       Daria|   Inginer  mecanic |      7|   NULL|
|     Delia  |        Medic primar|      0|   true|
|       Diana|   Asistent  social |     23|   NULL|
|       Doina|Specialist  marke...|     11|   NULL|
|      Elena |            Contabil|      1|   NULL|
|     Eliza  |          Instalator|      0|   NULL|
|     Emilia |            Contabil|      1|   NULL|
|   Eugenia  |        Programator |      1|   NULL|
|     Felicia|      Specialist  HR|      8|   NULL|
|    Florina |               Șofer|      3|   NULL|
|      Vasile|     Manager proiect|     15|   NULL|
|      Victor|            Arhitect|     18|   NULL|
|      Viorel|          Farmacist |     32|  false|
|  Vladimir  |   Asistent  medical|      0|   true|
|     Voicu  |          Instalator|      0|   NULL|
|      Zamfir|       Inginer civil|     24|   NULL|
|  Alexandra |Operator call center|      4|  false|
|         Ana|     Asistent social|     22|   NULL|
|       Alina|    Asistent  social|     21|   NULL|
|       Adela|    Manager  proiect|     15|   NULL|
+------------+--------------------+-------+-------+
only showing top 20 rows

In [50]:
df_rename = data_without_personal_columns_df.withColumnRenamed('ocupatie','job')

In [51]:
df_rename.show(10)

+------------+--------------------+-------+-------+
|        nume|                 job|vechime|inactiv|
+------------+--------------------+-------+-------+
|       Daria|   Inginer  mecanic |      7|   NULL|
|     Delia  |        Medic primar|      0|   true|
|       Diana|   Asistent  social |     23|   NULL|
|       Doina|Specialist  marke...|     11|   NULL|
|      Elena |            Contabil|      1|   NULL|
|     Eliza  |          Instalator|      0|   NULL|
|     Emilia |            Contabil|      1|   NULL|
|   Eugenia  |        Programator |      1|   NULL|
|     Felicia|      Specialist  HR|      8|   NULL|
|    Florina |               Șofer|      3|   NULL|
|      Vasile|     Manager proiect|     15|   NULL|
|      Victor|            Arhitect|     18|   NULL|
|      Viorel|          Farmacist |     32|  false|
|  Vladimir  |   Asistent  medical|      0|   true|
|     Voicu  |          Instalator|      0|   NULL|
|      Zamfir|       Inginer civil|     24|   NULL|
|  Alexandra |Operator call center|      4|  false|
|         Ana|     Asistent social|     22|   NULL|
|       Alina|    Asistent  social|     21|   NULL|
|       Adela|    Manager  proiect|     15|   NULL|
+------------+--------------------+-------+-------+
only showing top 20 rows

In [52]:
df_rename.explain('extended')

== Parsed Logical Plan ==
Project [nume#83, ocupatie#85 AS job#1252, vechime#86, inactiv#87]
+- Project [nume#83, ocupatie#85, vechime#86, inactiv#87]
   +- Relation [nume#83,varsta#84,ocupatie#85,vechime#86,inactiv#87,extra#88] parquet

== Analyzed Logical Plan ==
nume: string, job: string, vechime: int, inactiv: boolean
Project [nume#83, ocupatie#85 AS job#1252, vechime#86, inactiv#87]
+- Project [nume#83, ocupatie#85, vechime#86, inactiv#87]
   +- Relation [nume#83,varsta#84,ocupatie#85,vechime#86,inactiv#87,extra#88] parquet

== Optimized Logical Plan ==
Project [nume#83, ocupatie#85 AS job#1252, vechime#86, inactiv#87]
+- Relation [nume#83,varsta#84,ocupatie#85,vechime#86,inactiv#87,extra#88] parquet

== Physical Plan ==
*(1) Project [nume#83, ocupatie#85 AS job#1252, vechime#86, inactiv#87]
+- *(1) ColumnarToRow
   +- FileScan parquet [nume#83,ocupatie#85,vechime#86,inactiv#87] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/content/drive/MyDrive/Colab Notebooks/Data/Data/practice/parquet], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<nume:string,ocupatie:string,vechime:int,inactiv:boolean>