In [4]:
# ‚úÖ Cell 1: Setup & Load Input Data (with dynamic alias) 

import sys, os
sys.path.append("/app")  # üîß Mount base path directly in container

from utils.notebook_setup import enable_project_imports
enable_project_imports()

from utils.io_helpers import list_files_with_aliases, load_file_with_alias
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, when, lit, concat_ws, size, desc

# üöÄ Start Spark
spark = SparkSession.builder.appName("Pyspark - Clean & Transform").getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

# üìÇ Input config
data_type = "json"  # or "parquet"
input_folder = f"/app/data/input/practice/{data_type}"  # üîß Absolute path for container

# üß† Discover input files
aliases = list_files_with_aliases(input_folder, ext=data_type)
print("üìÑ Available input files:")
for k, v in aliases.items():
    print(f"{k}: {v}")

# üè∑Ô∏è Choose which file to load
alias = "file1"  # or file2, file3...
input_path = aliases[alias]

# üì¶ Load using alias
df = load_file_with_alias(spark, input_folder, alias, ext=data_type)
print(f"‚úÖ Loaded file: {alias} ‚Üí {input_path}")
df.show(5, truncate=False)

‚úÖ [notebook_setup] Project root already in sys.path.
üìÑ Available input files:
file1: /app/data/input/practice/json/part-00000-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json
file2: /app/data/input/practice/json/part-00001-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json
file3: /app/data/input/practice/json/part-00002-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json
üì• Loading file: file1 ‚Üí /app/data/input/practice/json/part-00000-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json

‚úÖ Loaded file: file1 ‚Üí /app/data/input/practice/json/part-00000-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json
+-----------------------+-------+---------+--------------------+------+-------+
|extra                  |inactiv|nume     |ocupatie            |varsta|vechime|
+-----------------------+-------+---------+--------------------+------+-------+
|[PV, EV]               |NULL   |Andrei   |Specialist marketing|38    |13     |
|[3D Printer, WII]      |NULL   |Alexandru|Specialist HR       |34    |8      |
|[AC, EV, 5G Router]    |NULL   |Adrian   |Inginer civil       |45    |23     |
|[XBOX]                 |NULL   | Alin    |V√¢nzƒÉtor  retail    |26    |2      |
|[5G Router, 3D Printer]|NULL   |Anton    |Manager proiect     |40    |15     |
+-----------------------+-------+---------+--------------------+------+-------+
only showing top 5 rows

In [5]:
# ‚úÖ Cell 2: Select format and folder

# Choose between "json" or "parquet"
data_type = "json"
folder = f"/app/data/input/practice/{data_type}"  

aliases = list_files_with_aliases(folder, ext=data_type)
print("üìÇ Available files:")
for alias, path in aliases.items():
    print(f"{alias}: {path}")

üìÇ Available files:
file1: /app/data/input/practice/json/part-00000-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json
file2: /app/data/input/practice/json/part-00001-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json
file3: /app/data/input/practice/json/part-00002-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json

In [6]:
# Cell 3: Load data using alias
alias = "file1"  # Change to file2, file3, etc.
df = load_file_with_alias(spark, folder, alias=alias, ext=data_type)
df.show(truncate=False)

üì• Loading file: file1 ‚Üí /app/data/input/practice/json/part-00000-46e2d8a4-96d4-4b0e-a4a9-992dbceb1653-c000.json
+----------------------------+-------+-----------+--------------------+------+-------+
|extra                       |inactiv|nume       |ocupatie            |varsta|vechime|
+----------------------------+-------+-----------+--------------------+------+-------+
|[PV, EV]                    |NULL   |Andrei     |Specialist marketing|38    |13     |
|[3D Printer, WII]           |NULL   |Alexandru  |Specialist HR       |34    |8      |
|[AC, EV, 5G Router]         |NULL   |Adrian     |Inginer civil       |45    |23     |
|[XBOX]                      |NULL   | Alin      |V√¢nzƒÉtor  retail    |26    |2      |
|[5G Router, 3D Printer]     |NULL   |Anton      |Manager proiect     |40    |15     |
|[EV, AC]                    |NULL   |Ana        |Muncitor alimentar  |35    |9      |
|[PC, 3D Printer, AC]        |false  |Bogdan     |Farmacist           |50    |32     |
|NULL                        |true   |  CƒÉtƒÉlin  |Medic primar        |20    |0      |
|[AC, XBOX, PV]              |NULL   |Cosmin     |Farmacist           |49    |31     |
|[XBOX, 3D Printer, EV]      |false  |Cristian   | Asistent  social   |44    |21     |
|[3D Printer, 3D Printer, EV]|NULL   |Gabriel    |Asistent social     |44    |21     |
|[3D Printer, AC, WII]       |false  |George     |Agent imobiliar     |46    |25     |
|[WII, 3D Printer]           |NULL   |Gheorghe   |Specialist HR       |34    |8      |
|[WII, 5G Router, 5G Router] |NULL   |Grigore    |Asistent  social    |44    |21     |
|[5G Router, PV]             |NULL   |Horia      |Arhitect            |42    |18     |
|[PC]                        |NULL   | Ilie      |V√¢nzƒÉtor retail     |26    |2      |
|[XBOX]                      |NULL   | Ion       |V√¢nzƒÉtor retail     |27    |2      |
|[EV, XBOX, 3D Printer]      |NULL   |Ionel      |Inginer  civil      |45    |23     |
|NULL                        |NULL   | Iosif     |V√¢nzƒÉtor  retail    |26    |2      |
|[PV, XBOX, AC]              |false  |Lucian     |Designer grafic     |49    |30     |
+----------------------------+-------+-----------+--------------------+------+-------+
only showing top 20 rows

In [7]:
# %% 
# Cell 4: Clean the DataFrame

from pyspark.sql.functions import col, trim, regexp_replace, coalesce, lit, udf
from pyspark.sql.types import StringType
import unicodedata

# --------------------------------------------
# ‚úÖ 1. Clean 'nume': trim + remove diacritics
# --------------------------------------------

# UDF: Remove accents using unicodedata
def remove_accents(s):
    if s is None:
        return None
    return ''.join(c for c in unicodedata.normalize('NFD', s) if unicodedata.category(c) != 'Mn')

remove_accents_udf = udf(remove_accents, StringType())

# Trim and remove accents
df = df.withColumn("nume", trim(col("nume")))
df = df.withColumn("nume", remove_accents_udf("nume"))

# --------------------------------------------
# ‚úÖ 2. Clean 'ocupatie': trim + normalize whitespace
# --------------------------------------------
df = df.withColumn("ocupatie", trim(regexp_replace(col("ocupatie"), r"\s+", " ")))
df = df.withColumn("ocupatie", remove_accents_udf("ocupatie"))

# --------------------------------------------
# ‚úÖ 3. Clean 'extra': deduplicate comma-separated entries
# --------------------------------------------

def remove_duplicates(val):
    if not val:
        return None

    if isinstance(val, list):
        cleaned = [str(x).strip() for x in val if x]
    elif isinstance(val, str):
        cleaned = [x.strip() for x in val.split(',') if x]
    else:
        print(f"‚ö†Ô∏è Unexpected value in `extra`: {val} ({type(val)})")
        return str(val).strip()

    return ', '.join(sorted(set(cleaned)))

remove_dupes_udf = udf(remove_duplicates, StringType())
df = df.withColumn("extra", remove_dupes_udf("extra"))
df.select("extra").show(10, truncate=False)

# --------------------------------------------
# ‚úÖ 4. Set missing 'inactiv' to False
# --------------------------------------------
df = df.withColumn("inactiv", coalesce(col("inactiv"), lit(False)))

# --------------------------------------------
# ‚úÖ 5. Convert to Pandas for Validation & Display
# --------------------------------------------
df_with_vechime = df.cache()  # Optional: cache to reuse efficiently

display_pdf = df.toPandas()
display_pdf.head(10)

+---------------------+
|extra                |
+---------------------+
|EV, PV               |
|3D Printer, WII      |
|5G Router, AC, EV    |
|XBOX                 |
|3D Printer, 5G Router|
|AC, EV               |
|3D Printer, AC, PC   |
|NULL                 |
|AC, PV, XBOX         |
|3D Printer, EV, XBOX |
+---------------------+
only showing top 10 rows

,extra,inactiv,nume,ocupatie,varsta,vechime
0,"EV, PV",False,Andrei,Specialist marketing,38,13
1,"3D Printer, WII",False,Alexandru,Specialist HR,34,8
2,"5G Router, AC, EV",False,Adrian,Inginer civil,45,23
3,XBOX,False,Alin,Vanzator retail,26,2
4,"3D Printer, 5G Router",False,Anton,Manager proiect,40,15
5,"AC, EV",False,Ana,Muncitor alimentar,35,9
6,"3D Printer, AC, PC",False,Bogdan,Farmacist,50,32
7,None,True,Catalin,Medic primar,20,0
8,"AC, PV, XBOX",False,Cosmin,Farmacist,49,31
9,"3D Printer, EV, XBOX",False,Cristian,Asistent social,44,21

In [8]:
import unicodedata

# --------------------------------------------
# ‚úÖ Helper: Check for diacritics (non-ASCII)
# --------------------------------------------
def has_diacritics(text):
    return any(unicodedata.category(c) == "Mn" for c in unicodedata.normalize("NFD", text)) if isinstance(text, str) else False

# --------------------------------------------
# ‚úÖ Test 1: No extra whitespace in `nume` or `ocupatie`
# --------------------------------------------
def is_trimmed(s):
    return isinstance(s, str) and s == s.strip()

trimmed_nume = display_pdf['nume'].apply(is_trimmed)
trimmed_ocupatie = display_pdf['ocupatie'].apply(is_trimmed)

assert trimmed_nume.all(), "‚ùå Some 'nume' values have leading/trailing spaces."
assert trimmed_ocupatie.all(), "‚ùå Some 'ocupatie' values have leading/trailing spaces."

# --------------------------------------------
# ‚úÖ Test 2: Diacritics removed from `nume`
# --------------------------------------------
diacritic_check = display_pdf['nume'].apply(lambda x: not has_diacritics(x))
assert diacritic_check.all(), "‚ùå Some 'nume' values still contain diacritics."

# --------------------------------------------
# ‚úÖ Test 3: `extra` column exists and is valid
# --------------------------------------------
# Ensure column exists
assert "extra" in display_pdf.columns, "‚ùå Column 'extra' is missing."

# Ensure it's not completely empty
non_null_extra = display_pdf['extra'].notna().sum()
assert non_null_extra > 0, "‚ùå Column 'extra' is entirely null."

print(f"‚ÑπÔ∏è 'extra' column has {non_null_extra} non-null values.")

# ‚úÖ Check for duplicates in valid entries
def has_duplicates(entry):
    if not entry or not isinstance(entry, str): return False
    parts = [p.strip() for p in entry.split(',')]
    return len(parts) != len(set(parts))

extra_dup_check = display_pdf['extra'].dropna().apply(lambda x: not has_duplicates(x))
assert extra_dup_check.all(), "‚ùå Some 'extra' values contain duplicates."

print("‚úÖ 'extra' column is present, non-null, and cleaned of duplicates.")


# --------------------------------------------
# ‚úÖ Test 4: `inactiv` should not have nulls
# --------------------------------------------
inactiv_check = display_pdf['inactiv'].apply(lambda x: isinstance(x, bool))
assert inactiv_check.all(), "‚ùå Some 'inactiv' values are missing or not boolean."

print("‚úÖ All data cleaning validations passed! üéâ")

‚ÑπÔ∏è 'extra' column has 36 non-null values.
‚úÖ 'extra' column is present, non-null, and cleaned of duplicates.
‚úÖ All data cleaning validations passed! üéâ

In [9]:
# Cell 5: Add 'varsta_la_contractare' and drop 'vechime'

df = df.withColumn("varsta_la_contractare", col("varsta") - col("vechime"))
df = df.drop("vechime")
df.show(5)

+--------------------+-------+---------+--------------------+------+---------------------+
|               extra|inactiv|     nume|            ocupatie|varsta|varsta_la_contractare|
+--------------------+-------+---------+--------------------+------+---------------------+
|              EV, PV|  false|   Andrei|Specialist marketing|    38|                   25|
|     3D Printer, WII|  false|Alexandru|       Specialist HR|    34|                   26|
|   5G Router, AC, EV|  false|   Adrian|       Inginer civil|    45|                   22|
|                XBOX|  false|     Alin|     Vanzator retail|    26|                   24|
|3D Printer, 5G Ro...|  false|    Anton|     Manager proiect|    40|                   25|
+--------------------+-------+---------+--------------------+------+---------------------+
only showing top 5 rows

In [10]:
# Cell 6: Add 'text_descriptiv' column

df = df.withColumn("text_descriptiv",
    when(col("extra").isNull() | (col("extra") == ""), 
         concat_ws(" ", col("nume"), lit("√Æn v√¢rstƒÉ de"), col("varsta"), lit("ani"), lit("este"), col("ocupatie")))
    .otherwise(
        concat_ws(" ", col("nume"), lit("√Æn v√¢rstƒÉ de"), col("varsta"), lit("ani"), lit("este"), col("ocupatie"), lit("»ôi de»õine:"), col("extra"))
    )
)
df.select("nume", "text_descriptiv").show(5, truncate=False)

+---------+-------------------------------------------------------------------------------+
|nume     |text_descriptiv                                                                |
+---------+-------------------------------------------------------------------------------+
|Andrei   |Andrei √Æn v√¢rstƒÉ de 38 ani este Specialist marketing »ôi de»õine: EV, PV         |
|Alexandru|Alexandru √Æn v√¢rstƒÉ de 34 ani este Specialist HR »ôi de»õine: 3D Printer, WII    |
|Adrian   |Adrian √Æn v√¢rstƒÉ de 45 ani este Inginer civil »ôi de»õine: 5G Router, AC, EV     |
|Alin     |Alin √Æn v√¢rstƒÉ de 26 ani este Vanzator retail »ôi de»õine: XBOX                  |
|Anton    |Anton √Æn v√¢rstƒÉ de 40 ani este Manager proiect »ôi de»õine: 3D Printer, 5G Router|
+---------+-------------------------------------------------------------------------------+
only showing top 5 rows

In [11]:
# ‚úÖ Cell 7: Clients with contract duration between 2 and 5 years (inclusive)

df_with_vechime.filter((col("vechime") >= 2) & (col("vechime") <= 5)) \
  .select("nume", "ocupatie", "vechime") \
  .orderBy("vechime") \
  .show(truncate=False)

+-------+--------------------+-------+
|nume   |ocupatie            |vechime|
+-------+--------------------+-------+
|Alin   |Vanzator retail     |2      |
|Ilie   |Vanzator retail     |2      |
|Ion    |Vanzator retail     |2      |
|Iosif  |Vanzator retail     |2      |
|Dinu   |Vanzator retail     |2      |
|Anca   |Operator call center|4      |
|Camelia|Operator call center|4      |
|Emil   |Sofer               |4      |
+-------+--------------------+-------+

In [12]:
# Cell 8: Top 10 by age
df.orderBy(col("varsta").desc()).show(50, truncate=False)

+---------------------+-------+---------+--------------------+------+---------------------+----------------------------------------------------------------------------------+
|extra                |inactiv|nume     |ocupatie            |varsta|varsta_la_contractare|text_descriptiv                                                                   |
+---------------------+-------+---------+--------------------+------+---------------------+----------------------------------------------------------------------------------+
|3D Printer, AC, PC   |false  |Bogdan   |Farmacist           |50    |18                   |Bogdan √Æn v√¢rstƒÉ de 50 ani este Farmacist »ôi de»õine: 3D Printer, AC, PC           |
|3D Printer, AC       |false  |Carmen   |Farmacist           |50    |18                   |Carmen √Æn v√¢rstƒÉ de 50 ani este Farmacist »ôi de»õine: 3D Printer, AC               |
|AC, PV, XBOX         |false  |Cosmin   |Farmacist           |49    |18                   |Cosmin √Æn v√¢rstƒÉ de 49 ani este Farmacist »ôi de»õine: AC, PV, XBOX                 |
|AC, PV, XBOX         |false  |Lucian   |Designer grafic     |49    |19                   |Lucian √Æn v√¢rstƒÉ de 49 ani este Designer grafic »ôi de»õine: AC, PV, XBOX           |
|3D Printer, AC, WII  |false  |George   |Agent imobiliar     |46    |21                   |George √Æn v√¢rstƒÉ de 46 ani este Agent imobiliar »ôi de»õine: 3D Printer, AC, WII    |
|3D Printer, PS5, XBOX|false  |Cristina |Agent imobiliar     |46    |21                   |Cristina √Æn v√¢rstƒÉ de 46 ani este Agent imobiliar »ôi de»õine: 3D Printer, PS5, XBOX|
|PC, PV, XBOX         |false  |Dumitru  |Inginer civil       |46    |22                   |Dumitru √Æn v√¢rstƒÉ de 46 ani este Inginer civil »ôi de»õine: PC, PV, XBOX            |
|5G Router, AC, EV    |false  |Adrian   |Inginer civil       |45    |22                   |Adrian √Æn v√¢rstƒÉ de 45 ani este Inginer civil »ôi de»õine: 5G Router, AC, EV        |
|3D Printer, EV, XBOX |false  |Ionel    |Inginer civil       |45    |22                   |Ionel √Æn v√¢rstƒÉ de 45 ani este Inginer civil »ôi de»õine: 3D Printer, EV, XBOX      |
|5G Router, PS5       |false  |Daniela  |Asistent social     |45    |22                   |Daniela √Æn v√¢rstƒÉ de 45 ani este Asistent social »ôi de»õine: 5G Router, PS5        |
|AC, PV               |false  |Diandra  |Asistent social     |45    |23                   |Diandra √Æn v√¢rstƒÉ de 45 ani este Asistent social »ôi de»õine: AC, PV                |
|3D Printer, EV, XBOX |false  |Cristian |Asistent social     |44    |23                   |Cristian √Æn v√¢rstƒÉ de 44 ani este Asistent social »ôi de»õine: 3D Printer, EV, XBOX |
|3D Printer, EV       |false  |Gabriel  |Asistent social     |44    |23                   |Gabriel √Æn v√¢rstƒÉ de 44 ani este Asistent social »ôi de»õine: 3D Printer, EV        |
|5G Router, WII       |false  |Grigore  |Asistent social     |44    |23                   |Grigore √Æn v√¢rstƒÉ de 44 ani este Asistent social »ôi de»õine: 5G Router, WII        |
|3D Printer, AC, PC   |false  |Andreea  |Asistent social     |44    |23                   |Andreea √Æn v√¢rstƒÉ de 44 ani este Asistent social »ôi de»õine: 3D Printer, AC, PC    |
|3D Printer, PV, WII  |false  |Daniel   |Asistent social     |44    |23                   |Daniel √Æn v√¢rstƒÉ de 44 ani este Asistent social »ôi de»õine: 3D Printer, PV, WII    |
|5G Router, PV        |false  |Horia    |Arhitect            |42    |24                   |Horia √Æn v√¢rstƒÉ de 42 ani este Arhitect »ôi de»õine: 5G Router, PV                  |
|5G Router, AC, PS5   |false  |Eduard   |Arhitect            |42    |24                   |Eduard √Æn v√¢rstƒÉ de 42 ani este Arhitect »ôi de»õine: 5G Router, AC, PS5            |
|5G Router, AC        |false  |Aurelia  |Jurist              |41    |24                   |Aurelia √Æn v√¢rstƒÉ de 41 ani este Jurist »ôi de»õine: 5G Router, AC                  |
|PV, WII              |false  |Dana     |Jurist              |41    |24                   |Dana √Æn v√¢rstƒÉ de 41 ani este Jurist »ôi de»õine: PV, WII                           |
|3D Printer, 5G Router|false  |Anton    |Manager proiect     |40    |25                   |Anton √Æn v√¢rstƒÉ de 40 ani este Manager proiect »ôi de»õine: 3D Printer, 5G Router   |
|WII                  |false  |Catalina |Manager proiect     |40    |25                   |Catalina √Æn v√¢rstƒÉ de 40 ani este Manager proiect »ôi de»õine: WII                  |
|PS5, PV              |false  |Darius   |Manager proiect     |39    |25                   |Darius √Æn v√¢rstƒÉ de 39 ani este Manager proiect »ôi de»õine: PS5, PV                |
|3D Printer, AC       |false  |Dragos   |Operator productie  |39    |25                   |Dragos √Æn v√¢rstƒÉ de 39 ani este Operator productie »ôi de»õine: 3D Printer, AC      |
|EV, PV               |false  |Andrei   |Specialist marketing|38    |25                   |Andrei √Æn v√¢rstƒÉ de 38 ani este Specialist marketing »ôi de»õine: EV, PV            |
|3D Printer, XBOX     |false  |Claudia  |Electrician         |36    |26                   |Claudia √Æn v√¢rstƒÉ de 36 ani este Electrician »ôi de»õine: 3D Printer, XBOX          |
|AC, EV               |false  |Ana      |Muncitor alimentar  |35    |26                   |Ana √Æn v√¢rstƒÉ de 35 ani este Muncitor alimentar »ôi de»õine: AC, EV                 |
|3D Printer, WII      |false  |Alexandru|Specialist HR       |34    |26                   |Alexandru √Æn v√¢rstƒÉ de 34 ani este Specialist HR »ôi de»õine: 3D Printer, WII       |
|3D Printer, WII      |false  |Gheorghe |Specialist HR       |34    |26                   |Gheorghe √Æn v√¢rstƒÉ de 34 ani este Specialist HR »ôi de»õine: 3D Printer, WII        |
|PC                   |false  |Anca     |Operator call center|30    |26                   |Anca √Æn v√¢rstƒÉ de 30 ani este Operator call center »ôi de»õine: PC                  |
|PV                   |false  |Camelia  |Operator call center|30    |26                   |Camelia √Æn v√¢rstƒÉ de 30 ani este Operator call center »ôi de»õine: PV               |
|XBOX                 |false  |Emil     |Sofer               |29    |25                   |Emil √Æn v√¢rstƒÉ de 29 ani este Sofer »ôi de»õine: XBOX                               |
|XBOX                 |false  |Ion      |Vanzator retail     |27    |25                   |Ion √Æn v√¢rstƒÉ de 27 ani este Vanzator retail »ôi de»õine: XBOX                      |
|XBOX                 |false  |Alin     |Vanzator retail     |26    |24                   |Alin √Æn v√¢rstƒÉ de 26 ani este Vanzator retail »ôi de»õine: XBOX                     |
|PC                   |false  |Ilie     |Vanzator retail     |26    |24                   |Ilie √Æn v√¢rstƒÉ de 26 ani este Vanzator retail »ôi de»õine: PC                       |
|NULL                 |false  |Iosif    |Vanzator retail     |26    |24                   |Iosif √Æn v√¢rstƒÉ de 26 ani este Vanzator retail                                    |
|3D Printer           |false  |Dinu     |Vanzator retail     |26    |24                   |Dinu √Æn v√¢rstƒÉ de 26 ani este Vanzator retail »ôi de»õine: 3D Printer               |
|NULL                 |false  |Dorin    |Contabil            |24    |23                   |Dorin √Æn v√¢rstƒÉ de 24 ani este Contabil                                           |
|NULL                 |true   |Catalin  |Medic primar        |20    |20                   |Catalin √Æn v√¢rstƒÉ de 20 ani este Medic primar                                     |
|NULL                 |true   |Florin   |Medic primar        |20    |20                   |Florin √Æn v√¢rstƒÉ de 20 ani este Medic primar                                      |
+---------------------+-------+---------+--------------------+------+---------------------+----------------------------------------------------------------------------------+

In [13]:
# Cell 9: Top 5 oldest at contract time (active only)
df.filter(col("inactiv") == False) \
  .orderBy(col("varsta_la_contractare").desc()) \
  .show(5, truncate=False)

+---------------+-------+---------+--------------------+------+---------------------+---------------------------------------------------------------------------+
|extra          |inactiv|nume     |ocupatie            |varsta|varsta_la_contractare|text_descriptiv                                                            |
+---------------+-------+---------+--------------------+------+---------------------+---------------------------------------------------------------------------+
|AC, EV         |false  |Ana      |Muncitor alimentar  |35    |26                   |Ana √Æn v√¢rstƒÉ de 35 ani este Muncitor alimentar »ôi de»õine: AC, EV          |
|3D Printer, WII|false  |Alexandru|Specialist HR       |34    |26                   |Alexandru √Æn v√¢rstƒÉ de 34 ani este Specialist HR »ôi de»õine: 3D Printer, WII|
|3D Printer, WII|false  |Gheorghe |Specialist HR       |34    |26                   |Gheorghe √Æn v√¢rstƒÉ de 34 ani este Specialist HR »ôi de»õine: 3D Printer, WII |
|PC             |false  |Anca     |Operator call center|30    |26                   |Anca √Æn v√¢rstƒÉ de 30 ani este Operator call center »ôi de»õine: PC           |
|PV             |false  |Camelia  |Operator call center|30    |26                   |Camelia √Æn v√¢rstƒÉ de 30 ani este Operator call center »ôi de»õine: PV        |
+---------------+-------+---------+--------------------+------+---------------------+---------------------------------------------------------------------------+
only showing top 5 rows