In [1]:
# âœ… Cell 1: Setup & Load Input Data (with dynamic alias)

import sys, os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

from utils.notebook_setup import enable_project_imports
enable_project_imports()

from utils.io_helpers import list_files_with_aliases, load_file_with_alias
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, when, lit, concat_ws, size, desc

# ðŸš€ Start Spark
spark = SparkSession.builder.appName("Pyspark - Clean & Transform").getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

âœ… [notebook_setup] Project root already in sys.path.

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/27 14:06:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
  # from google.colab import drive

In [ ]:
   # drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()

# Create a PySpark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:5 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 233 kB in 2s (117 kB/s)
Reading package lists... Done
drive	     spark-3.1.1-bin-hadoop3.2	    spark-3.1.1-bin-hadoop3.2.tgz.1
sample_data  spark-3.1.1-bin-hadoop3.2.tgz

In [14]:
data_type ='json'
path = '../data/input/practice/'+ data_type
data_df = spark.read.format(data_type).load(path)
data_df.show()

+--------------------+-------+-----------+--------------------+------+-------+
|               extra|inactiv|       nume|            ocupatie|varsta|vechime|
+--------------------+-------+-----------+--------------------+------+-------+
|            [PV, EV]|   NULL|     Andrei|Specialist marketing|    38|     13|
|   [3D Printer, WII]|   NULL|  Alexandru|      Specialist HR |    34|      8|
| [AC, EV, 5G Router]|   NULL|     Adrian|       Inginer civil|    45|     23|
|              [XBOX]|   NULL|      Alin |   VÃ¢nzÄƒtor  retail |    26|      2|
|[5G Router, 3D Pr...|   NULL|      Anton|     Manager proiect|    40|     15|
|            [EV, AC]|   NULL|        Ana|  Muncitor alimentar|    35|      9|
|[PC, 3D Printer, AC]|  false|     Bogdan|           Farmacist|    50|     32|
|                NULL|   true|  CÄƒtÄƒlin  |        Medic primar|    20|      0|
|      [AC, XBOX, PV]|   NULL|     Cosmin|           Farmacist|    49|     31|
|[XBOX, 3D Printer...|  false|   Cristian|    Asistent  social|    44|     21|
|[3D Printer, 3D P...|   NULL|    Gabriel|     Asistent social|    44|     21|
|[3D Printer, AC, ...|  false|     George|     Agent imobiliar|    46|     25|
|   [WII, 3D Printer]|   NULL|   Gheorghe|      Specialist HR |    34|      8|
|[WII, 5G Router, ...|   NULL|    Grigore|    Asistent  social|    44|     21|
|     [5G Router, PV]|   NULL|      Horia|           Arhitect |    42|     18|
|                [PC]|   NULL|      Ilie |     VÃ¢nzÄƒtor retail|    26|      2|
|              [XBOX]|   NULL|       Ion |     VÃ¢nzÄƒtor retail|    27|      2|
|[EV, XBOX, 3D Pri...|   NULL|      Ionel|     Inginer  civil |    45|     23|
|                NULL|   NULL|     Iosif |   VÃ¢nzÄƒtor  retail |    26|      2|
|      [PV, XBOX, AC]|  false|     Lucian|     Designer grafic|    49|     30|
+--------------------+-------+-----------+--------------------+------+-------+
only showing top 20 rows

In [9]:
data_df.printSchema()

root
 |-- extra: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- inactiv: boolean (nullable = true)
 |-- nume: string (nullable = true)
 |-- ocupatie: string (nullable = true)
 |-- varsta: long (nullable = true)
 |-- vechime: long (nullable = true)

In [10]:
data_df.show()

+--------------------+-------+-----------+--------------------+------+-------+
|               extra|inactiv|       nume|            ocupatie|varsta|vechime|
+--------------------+-------+-----------+--------------------+------+-------+
|            [PV, EV]|   NULL|     Andrei|Specialist marketing|    38|     13|
|   [3D Printer, WII]|   NULL|  Alexandru|      Specialist HR |    34|      8|
| [AC, EV, 5G Router]|   NULL|     Adrian|       Inginer civil|    45|     23|
|              [XBOX]|   NULL|      Alin |   VÃ¢nzÄƒtor  retail |    26|      2|
|[5G Router, 3D Pr...|   NULL|      Anton|     Manager proiect|    40|     15|
|            [EV, AC]|   NULL|        Ana|  Muncitor alimentar|    35|      9|
|[PC, 3D Printer, AC]|  false|     Bogdan|           Farmacist|    50|     32|
|                NULL|   true|  CÄƒtÄƒlin  |        Medic primar|    20|      0|
|      [AC, XBOX, PV]|   NULL|     Cosmin|           Farmacist|    49|     31|
|[XBOX, 3D Printer...|  false|   Cristian|    Asistent  social|    44|     21|
|[3D Printer, 3D P...|   NULL|    Gabriel|     Asistent social|    44|     21|
|[3D Printer, AC, ...|  false|     George|     Agent imobiliar|    46|     25|
|   [WII, 3D Printer]|   NULL|   Gheorghe|      Specialist HR |    34|      8|
|[WII, 5G Router, ...|   NULL|    Grigore|    Asistent  social|    44|     21|
|     [5G Router, PV]|   NULL|      Horia|           Arhitect |    42|     18|
|                [PC]|   NULL|      Ilie |     VÃ¢nzÄƒtor retail|    26|      2|
|              [XBOX]|   NULL|       Ion |     VÃ¢nzÄƒtor retail|    27|      2|
|[EV, XBOX, 3D Pri...|   NULL|      Ionel|     Inginer  civil |    45|     23|
|                NULL|   NULL|     Iosif |   VÃ¢nzÄƒtor  retail |    26|      2|
|      [PV, XBOX, AC]|  false|     Lucian|     Designer grafic|    49|     30|
+--------------------+-------+-----------+--------------------+------+-------+
only showing top 20 rows

In [ ]:
data_df=spark.read.format('parquet').load('/content/drive/MyDrive/Colab Notebooks/example/parquet/part-00000-097d5e0c-28b8-4e7f-baa7-b6228ea55df9-c000.snappy.parquet')

In [ ]:
data_df.show()

+----+------+--------+-------+-------+------------------+
|nume|varsta|ocupatie|vechime|inactiv|             extra|
+----+------+--------+-------+-------+------------------+
|Vali|    23|        |      4|   null|[3D Printer, XBOX]|
|Vlad|    34|        |     11|   null|              [EV]|
| Bea|    29|        |      7|   true|              null|
+----+------+--------+-------+-------+------------------+

In [15]:
data_type ='parquet'
path = '../data/input/practice/'+ data_type
data_practice = spark.read.format(data_type).load(path)
data_practice.show()

+------------+------+--------------------+-------+-------+--------------------+
|        nume|varsta|            ocupatie|vechime|inactiv|               extra|
+------------+------+--------------------+-------+-------+--------------------+
|       Daria|    33|   Inginer  mecanic |      7|   NULL|                [EV]|
|     Delia  |    20|        Medic primar|      0|   true|                NULL|
|       Diana|    45|   Asistent  social |     23|   NULL|[XBOX, 3D Printer...|
|       Doina|    37|Specialist  marke...|     11|   NULL|          [WII, PS5]|
|      Elena |    25|            Contabil|      1|   NULL|                NULL|
|     Eliza  |    23|          Instalator|      0|   NULL|                NULL|
|     Emilia |    25|            Contabil|      1|   NULL|                NULL|
|   Eugenia  |    24|        Programator |      1|   NULL|                NULL|
|     Felicia|    34|      Specialist  HR|      8|   NULL|          [WII, PS5]|
|    Florina |    28|               È˜ofer|      3|   NULL|                [EV]|
|      Vasile|    40|     Manager proiect|     15|   NULL|            [AC, AC]|
|      Victor|    42|            Arhitect|     18|   NULL|   [5G Router, XBOX]|
|      Viorel|    50|          Farmacist |     32|  false|[PS5, 3D Printer,...|
|  Vladimir  |    18|   Asistent  medical|      0|   true|                NULL|
|     Voicu  |    22|          Instalator|      0|   NULL|                NULL|
|      Zamfir|    46|       Inginer civil|     24|   NULL|[3D Printer, 3D P...|
|  Alexandra |    29|Operator call center|      4|  false|                [PC]|
|         Ana|    45|     Asistent social|     22|   NULL|[3D Printer, 5G R...|
|       Alina|    44|    Asistent  social|     21|   NULL|      [PS5, AC, PS5]|
|       Adela|    40|    Manager  proiect|     15|   NULL|    [3D Printer, PC]|
+------------+------+--------------------+-------+-------+--------------------+
only showing top 20 rows

In [11]:
from pyspark.sql import functions as f

In [16]:
data_practice.count()

103

In [18]:
data_practice.show(truncate=False)

+------------+------+----------------------+-------+-------+----------------------------+
|nume        |varsta|ocupatie              |vechime|inactiv|extra                       |
+------------+------+----------------------+-------+-------+----------------------------+
|Daria       |33    |Inginer  mecanic      |7      |NULL   |[EV]                        |
|  Delia     |20    |Medic primar          |0      |true   |NULL                        |
|Diana       |45    |Asistent  social      |23     |NULL   |[XBOX, 3D Printer, PV]      |
|Doina       |37    |Specialist  marketing |11     |NULL   |[WII, PS5]                  |
| Elena      |25    |Contabil              |1      |NULL   |NULL                        |
|  Eliza     |23    |Instalator            |0      |NULL   |NULL                        |
| Emilia     |25    |Contabil              |1      |NULL   |NULL                        |
|  Eugenia   |24    |Programator           |1      |NULL   |NULL                        |
|Felicia     |34    |Specialist  HR        |8      |NULL   |[WII, PS5]                  |
| Florina    |28    |È˜ofer                 |3      |NULL   |[EV]                        |
|Vasile      |40    |Manager proiect       |15     |NULL   |[AC, AC]                    |
|Victor      |42    |Arhitect              |18     |NULL   |[5G Router, XBOX]           |
|Viorel      |50    | Farmacist            |32     |false  |[PS5, 3D Printer, PC]       |
|  Vladimir  |18    |Asistent  medical     |0      |true   |NULL                        |
|  Voicu     |22    |Instalator            |0      |NULL   |NULL                        |
|Zamfir      |46    |Inginer civil         |24     |NULL   |[3D Printer, 3D Printer, AC]|
| Alexandra  |29    |Operator call center  |4      |false  |[PC]                        |
|Ana         |45    |Asistent social       |22     |NULL   |[3D Printer, 5G Router, PV] |
|Alina       |44    |Asistent  social      |21     |NULL   |[PS5, AC, PS5]              |
|Adela       |40    |Manager  proiect      |15     |NULL   |[3D Printer, PC]            |
+------------+------+----------------------+-------+-------+----------------------------+
only showing top 20 rows

CurÄƒÈ›area coloanei â€žnumeâ€ de spaÈ›ii suplimentare - Se recomandÄƒ folosirea funcÈ›iei trim sau replace.

CurÄƒÈ›area coloanei â€žocupatieâ€ de sparÈ›ii suplimentare -  Se recomandÄƒ folosirea funcÈ›iei trim sau replace.

Eliminarea diacriticelor din coloana â€žnumeâ€ -

Scoaterea valorilor duplicate din coloana â€žextraâ€

Setarea coloanei â€žinactivâ€ pe false atunci cÃ¢nd valoarea lipseÈ™te. - Se recomandÄƒ folosirea funcÈ›iei coalesce.

In [19]:
df_tasks = (
    data_practice
    .withColumn('nume', f.trim(f.col('nume'))   )
    .withColumn('ocupatie',f.trim(f.col('ocupatie')))
    .withColumn('inactiv',f.coalesce(f.col('inactiv'),f.lit(False) ) )
    .withColumn('nume',f.translate(f.col('nume'),'È™È›ÄƒÃ®Ã¢','staia' ))
    .withColumn('extra',f.array_distinct(f.col('extra')))
)

In [20]:
df_tasks.show()

+---------+------+--------------------+-------+-------+--------------------+
|     nume|varsta|            ocupatie|vechime|inactiv|               extra|
+---------+------+--------------------+-------+-------+--------------------+
|    Daria|    33|    Inginer  mecanic|      7|  false|                [EV]|
|    Delia|    20|        Medic primar|      0|   true|                NULL|
|    Diana|    45|    Asistent  social|     23|  false|[XBOX, 3D Printer...|
|    Doina|    37|Specialist  marke...|     11|  false|          [WII, PS5]|
|    Elena|    25|            Contabil|      1|  false|                NULL|
|    Eliza|    23|          Instalator|      0|  false|                NULL|
|   Emilia|    25|            Contabil|      1|  false|                NULL|
|  Eugenia|    24|         Programator|      1|  false|                NULL|
|  Felicia|    34|      Specialist  HR|      8|  false|          [WII, PS5]|
|  Florina|    28|               È˜ofer|      3|  false|                [EV]|
|   Vasile|    40|     Manager proiect|     15|  false|                [AC]|
|   Victor|    42|            Arhitect|     18|  false|   [5G Router, XBOX]|
|   Viorel|    50|           Farmacist|     32|  false|[PS5, 3D Printer,...|
| Vladimir|    18|   Asistent  medical|      0|   true|                NULL|
|    Voicu|    22|          Instalator|      0|  false|                NULL|
|   Zamfir|    46|       Inginer civil|     24|  false|    [3D Printer, AC]|
|Alexandra|    29|Operator call center|      4|  false|                [PC]|
|      Ana|    45|     Asistent social|     22|  false|[3D Printer, 5G R...|
|    Alina|    44|    Asistent  social|     21|  false|           [PS5, AC]|
|    Adela|    40|    Manager  proiect|     15|  false|    [3D Printer, PC]|
+---------+------+--------------------+-------+-------+--------------------+
only showing top 20 rows

AdÄƒugarea coloanei â€žvarstÄƒ_la_contractareâ€ egalÄƒ cu diferenÈ›a dintre vÃ¢rsta persoanei È™i vechime

Scoaterea coloanei â€žvechimeâ€

AdÄƒugarea coloanei â€žtext_descriptivâ€ care sÄƒ fie un text ce descrie clientul È™i conÈ›ine neapÄƒrat toate informaÈ›iile È™tiute despre el, mai puÈ›in despre starea contractului dacÄƒ este activ. (e.g. X, Ã®n vÃ¢rstÄƒ de ... ani,
este ...). AtenÈ›ie la cazul special la coloana â€žextraâ€ cÃ¢nd numÄƒrul de elemente este 0. -  Se recomandÄƒ cel folosirea funcÈ›iilor when È™i printf.

In [21]:
df_transformare= (
    data_practice
    .withColumn('varsta_la_contractare',f.col('varsta') - f.col('vechime'))
    .drop(f.col('vechime'))
  #  .withColumn('array_extra', f.array_join(f.col('extra'),', '))
  #  .withColumn('extra cnt', f.size(f.col('extra') ) )
    .withColumn('text_descriptiv',
                f.concat(
        f.col('nume'),
        f.lit(', in varsta de '),
        f.col('varsta'),
        f.lit(' ani, este '),
        f.col('ocupatie'),

        f.when(
            f.size(f.col('extra') ) > 0 ,
               f.concat(
                    f.lit(' cu extra activitati in : ') ,
                    f.array_join(f.col('extra'),', '))
        )
        .otherwise(f.lit(''))
                                                                    ))
)

In [22]:
df_transformare.show(truncate=False)

+------------+------+----------------------+-------+----------------------------+---------------------+---------------------------------------------------------------------------------------------------+
|nume        |varsta|ocupatie              |inactiv|extra                       |varsta_la_contractare|text_descriptiv                                                                                    |
+------------+------+----------------------+-------+----------------------------+---------------------+---------------------------------------------------------------------------------------------------+
|Daria       |33    |Inginer  mecanic      |NULL   |[EV]                        |26                   |Daria, in varsta de 33 ani, este Inginer  mecanic  cu extra activitati in : EV                     |
|  Delia     |20    |Medic primar          |true   |NULL                        |20                   |  Delia  , in varsta de 20 ani, este Medic primar                                                  |
|Diana       |45    |Asistent  social      |NULL   |[XBOX, 3D Printer, PV]      |22                   |Diana, in varsta de 45 ani, este Asistent  social  cu extra activitati in : XBOX, 3D Printer, PV   |
|Doina       |37    |Specialist  marketing |NULL   |[WII, PS5]                  |26                   |Doina, in varsta de 37 ani, este Specialist  marketing  cu extra activitati in : WII, PS5          |
| Elena      |25    |Contabil              |NULL   |NULL                        |24                   | Elena , in varsta de 25 ani, este Contabil                                                        |
|  Eliza     |23    |Instalator            |NULL   |NULL                        |23                   |  Eliza  , in varsta de 23 ani, este Instalator                                                    |
| Emilia     |25    |Contabil              |NULL   |NULL                        |24                   | Emilia , in varsta de 25 ani, este Contabil                                                       |
|  Eugenia   |24    |Programator           |NULL   |NULL                        |23                   |  Eugenia  , in varsta de 24 ani, este Programator                                                 |
|Felicia     |34    |Specialist  HR        |NULL   |[WII, PS5]                  |26                   |Felicia, in varsta de 34 ani, este Specialist  HR cu extra activitati in : WII, PS5                |
| Florina    |28    |È˜ofer                 |NULL   |[EV]                        |25                   | Florina , in varsta de 28 ani, este È˜ofer cu extra activitati in : EV                             |
|Vasile      |40    |Manager proiect       |NULL   |[AC, AC]                    |25                   |Vasile, in varsta de 40 ani, este Manager proiect cu extra activitati in : AC, AC                  |
|Victor      |42    |Arhitect              |NULL   |[5G Router, XBOX]           |24                   |Victor, in varsta de 42 ani, este Arhitect cu extra activitati in : 5G Router, XBOX                |
|Viorel      |50    | Farmacist            |false  |[PS5, 3D Printer, PC]       |18                   |Viorel, in varsta de 50 ani, este  Farmacist  cu extra activitati in : PS5, 3D Printer, PC         |
|  Vladimir  |18    |Asistent  medical     |true   |NULL                        |18                   |  Vladimir  , in varsta de 18 ani, este Asistent  medical                                          |
|  Voicu     |22    |Instalator            |NULL   |NULL                        |22                   |  Voicu  , in varsta de 22 ani, este Instalator                                                    |
|Zamfir      |46    |Inginer civil         |NULL   |[3D Printer, 3D Printer, AC]|22                   |Zamfir, in varsta de 46 ani, este Inginer civil cu extra activitati in : 3D Printer, 3D Printer, AC|
| Alexandra  |29    |Operator call center  |false  |[PC]                        |25                   | Alexandra , in varsta de 29 ani, este Operator call center cu extra activitati in : PC            |
|Ana         |45    |Asistent social       |NULL   |[3D Printer, 5G Router, PV] |23                   |Ana, in varsta de 45 ani, este Asistent social cu extra activitati in : 3D Printer, 5G Router, PV  |
|Alina       |44    |Asistent  social      |NULL   |[PS5, AC, PS5]              |23                   |Alina, in varsta de 44 ani, este Asistent  social cu extra activitati in : PS5, AC, PS5            |
|Adela       |40    |Manager  proiect      |NULL   |[3D Printer, PC]            |25                   |Adela, in varsta de 40 ani, este Manager  proiect cu extra activitati in : 3D Printer, PC          |
+------------+------+----------------------+-------+----------------------------+---------------------+---------------------------------------------------------------------------------------------------+
only showing top 20 rows

### AfiÈ™area clienÈ›ilor inactivi / AfiÈ™area contractelor inactive

In [ ]:
df_inactive_contracts = df_tasks.filter('inactiv is True')
df_inactive_contracts.show(20)
#df_inactive_contracts.count()

+--------+------+-----------------+-------+-------+-----+
|    nume|varsta|         ocupatie|vechime|inactiv|extra|
+--------+------+-----------------+-------+-------+-----+
|   Delia|    20|     Medic primar|      0|   true| null|
|Vladimir|    18|Asistent  medical|      0|   true| null|
|   Rares|    19|         Profesor|      0|   true| null|
|  Razvan|    20|         Profesor|      0|   true| null|
|  Teodor|    18| Asistent medical|      0|   true| null|
|    Gina|    18|Asistent  medical|      0|   true| null|
| Catalin|    20|     Medic primar|      0|   true| null|
|  Florin|    20|    Medic  primar|      0|   true| null|
| Liliana|    19|         Profesor|      0|   true| null|
|    Paul|    19|         Profesor|      0|   true| null|
|     Bea|    29|                 |      7|   true| null|
+--------+------+-----------------+-------+-------+-----+


### AfiÈ™area clienÈ›ilor cu minim È™i maxim de vechime / AfiÈ™area contractelor care au minim 2 ani de vechime È™i maxim 5 ani vechime, inclusiv.

In [ ]:
df_vechime_2y_to_5y = (
    df_tasks
    .filter(f.col('vechime') >= 2)
    .filter(f.col('vechime') <= 5)
)
df_vechime_2y_to_5y.show(20)

+---------+------+--------------------+-------+-------+------------------+
|     nume|varsta|            ocupatie|vechime|inactiv|             extra|
+---------+------+--------------------+-------+-------+------------------+
|  Florina|    28|               È˜ofer|      3|  false|              [EV]|
|Alexandra|    29|Operator call center|      4|  false|              [PC]|
|    Remus|    28|               È˜ofer|      3|  false|            [XBOX]|
|    Sorin|    30|Operator  call ce...|      4|  false|             [PS5]|
| Georgeta|    28|              Zugrav|      3|  false|            [XBOX]|
|     Alin|    26|    VÃ¢nzÄƒtor  retail|      2|  false|            [XBOX]|
|     Ilie|    26|     VÃ¢nzÄƒtor retail|      2|  false|              [PC]|
|      Ion|    27|     VÃ¢nzÄƒtor retail|      2|  false|            [XBOX]|
|    Iosif|    26|    VÃ¢nzÄƒtor  retail|      2|  false|              null|
|     Anca|    30|Operator call center|      4|  false|              [PC]|
|  Camelia|    30|Operator call center|      4|  false|              [PV]|
|     Dinu|    26|     VÃ¢nzÄƒtor retail|      2|  false|      [3D Printer]|
|     Emil|    29|               È˜ofer|      4|  false|            [XBOX]|
|  Mariana|    31|  Analist  financiar|      5|  false|       [5G Router]|
|   Monica|    27|              Zugrav|      2|  false|            [XBOX]|
|  Nicolae|    28|              Zugrav|      3|  false|      [3D Printer]|
|     Radu|    27|              Zugrav|      2|  false|            [XBOX]|
|     Vali|    23|                    |      4|  false|[3D Printer, XBOX]|
+---------+------+--------------------+-------+-------+------------------+

### AfiÈ™area celor mai Ã®n vÃ¢rstÄƒ persoane cu orice fel de contract  / AfiÈ™area top 10 contracte sortate dupÄƒ vÃ¢rsta lor descrescÄƒtor

In [ ]:
df_invarsta = (
    df_tasks
    .sort(f.desc_nulls_last(f.col('varsta')))
    .limit(10)
    )

df_invarsta.show()

+--------+------+----------------+-------+-------+--------------------+
|    nume|varsta|        ocupatie|vechime|inactiv|               extra|
+--------+------+----------------+-------+-------+--------------------+
|  Bogdan|    50|       Farmacist|     32|  false|[PC, 3D Printer, AC]|
|  Viorel|    50|       Farmacist|     32|  false|[PS5, 3D Printer,...|
|  Carmen|    50|       Farmacist|     32|  false|    [3D Printer, AC]|
|  Lucian|    49| Designer grafic|     30|  false|      [PV, XBOX, AC]|
|  Cosmin|    49|       Farmacist|     31|  false|      [AC, XBOX, PV]|
| Mihaela|    49|Designer  grafic|     30|  false|       [WII, AC, PV]|
|  È˜tefan|    47| Agent imobiliar|     26|  false|    [XBOX, PS5, WII]|
|  Zamfir|    46|   Inginer civil|     24|  false|    [3D Printer, AC]|
|  George|    46| Agent imobiliar|     25|  false|[3D Printer, AC, ...|
|Cristina|    46| Agent imobiliar|     25|  false|[PS5, XBOX, 3D Pr...|
+--------+------+----------------+-------+-------+--------------------+

### AfiÈ™area celor mai Ã®n vÃ¢rstÄƒ oameni la contractare / AfiÈ™area top 5 contracte active sortate dupÄƒ vÃ¢rsta la contractare descrescÄƒtor

In [ ]:
df_4 = (
    df_tasks
    .withColumn('varsta la contractare',(f.col('varsta') - f.col('vechime')))
)
df_4.sort(f.desc('varsta la contractare')).limit(5).show()

+-------+------+--------------------+-------+-------+----------+---------------------+
|   nume|varsta|            ocupatie|vechime|inactiv|     extra|varsta la contractare|
+-------+------+--------------------+-------+-------+----------+---------------------+
|Tiberiu|    32|  Analist  financiar|      6|  false|     [PS5]|                   26|
|    Ana|    35|  Muncitor alimentar|      9|  false|  [EV, AC]|                   26|
| Larisa|    37|         Electrician|     11|  false|  [PV, EV]|                   26|
|  Doina|    37|Specialist  marke...|     11|  false|[WII, PS5]|                   26|
|  Laura|    36|  Muncitor alimentar|     10|  false|  [AC, PV]|                   26|
+-------+------+--------------------+-------+-------+----------+---------------------+

Reutilizarea OperaÈ›iilor

 ÃŽmpÄƒrÈ›iÈ›i setul de date Ã®n patru segmente, folosindu-vÄƒ de coloana "inactiv" È™i criteriul vÃ¢rstei.

 CreaÈ›i un segment pentru cei cu vÃ¢rsta de pÃ¢nÄƒ la 30 de ani inclusiv È™i un altul pentru cei peste 30 de ani, aplicÃ¢nd
aceastÄƒ divizare atÃ¢t pentru Ã®nregistrÄƒrile active, cÃ¢t È™i pentru cele inactive.

 ScrieÈ›i fiecare set de date Ã®ntr-o locaÈ›ie diferitÄƒ.

 ÃŽnainte de scrierea fiecÄƒrui segment, afiÈ™aÈ›i datele (nu uitaÈ›i sÄƒ cache-uiÈ›i setul de date È™i Ã®nainte de
afiÈ™are, nu numai Ã®nainte de Ã®mpÄƒrÈ›ire)

In [ ]:

cached_data_df = df_tasks.select('varsta', 'inactiv').cache()

df_active_young = (
    cached_data_df
    .filter(f.col('varsta') <=  f.lit(30) )
     .filter('inactiv is false')
    .cache()
)


df_inactive_young = (
    cached_data_df
    .filter(f.col('varsta') <=  f.lit(30) )
    .filter('inactiv is True')
    .cache()
)

df_active_old = (
    cached_data_df
    .filter(f.col('varsta') >  f.lit(30) )
    .filter('inactiv is False')
    .cache()
)

df_inactive_old = (
    cached_data_df
    .filter(f.col('varsta') >  f.lit(30) )
    .filter('inactiv is True')
    .cache()
)

In [ ]:
df_active_young.show()

+------+-------+
|varsta|inactiv|
+------+-------+
|    25|  false|
|    23|  false|
|    25|  false|
|    24|  false|
|    28|  false|
|    22|  false|
|    29|  false|
|    23|  false|
|    28|  false|
|    22|  false|
|    22|  false|
|    30|  false|
|    28|  false|
|    21|  false|
|    26|  false|
|    26|  false|
|    27|  false|
|    26|  false|
|    30|  false|
|    30|  false|
+------+-------+
only showing top 20 rows

In [ ]:
df_inactive_young.show()

+------+-------+
|varsta|inactiv|
+------+-------+
|    20|   true|
|    18|   true|
|    19|   true|
|    20|   true|
|    18|   true|
|    18|   true|
|    20|   true|
|    20|   true|
|    19|   true|
|    19|   true|
|    29|   true|
+------+-------+

In [ ]:
df_active_old.show()

+------+-------+
|varsta|inactiv|
+------+-------+
|    33|  false|
|    45|  false|
|    37|  false|
|    34|  false|
|    40|  false|
|    42|  false|
|    50|  false|
|    46|  false|
|    45|  false|
|    44|  false|
|    40|  false|
|    47|  false|
|    32|  false|
|    38|  false|
|    40|  false|
|    37|  false|
|    36|  false|
|    40|  false|
|    39|  false|
|    45|  false|
+------+-------+
only showing top 20 rows

In [ ]:
df_inactive_old.show()

+------+-------+
|varsta|inactiv|
+------+-------+
+------+-------+

In [ ]:
df_active_young.write.format('parquet').save('/content/drive/MyDrive/Colab Notebooks/practice/outputs/1')
df_inactive_young.write.format('parquet').save('/content/drive/MyDrive/Colab Notebooks/practice/outputs/2')
df_active_old.write.format('parquet').save('/content/drive/MyDrive/Colab Notebooks/practice/outputs/3')
df_inactive_old.write.format('parquet').save('/content/drive/MyDrive/Colab Notebooks/practice/outputs/4')

In [ ]:
from pyspark.sql import functions as f

In [ ]:
data_without_personal_columns_df = data_practice.drop('varsta', 'extra')

In [ ]:
data_without_personal_columns_df.show()

+------------+--------------------+-------+-------+
|        nume|            ocupatie|vechime|inactiv|
+------------+--------------------+-------+-------+
|       Daria|   Inginer  mecanic |      7|   null|
|     Delia  |        Medic primar|      0|   true|
|       Diana|   Asistent  social |     23|   null|
|       Doina|Specialist  marke...|     11|   null|
|      Elena |            Contabil|      1|   null|
|     Eliza  |          Instalator|      0|   null|
|     Emilia |            Contabil|      1|   null|
|   Eugenia  |        Programator |      1|   null|
|     Felicia|      Specialist  HR|      8|   null|
|    Florina |               È˜ofer|      3|   null|
|      Vasile|     Manager proiect|     15|   null|
|      Victor|            Arhitect|     18|   null|
|      Viorel|          Farmacist |     32|  false|
|  Vladimir  |   Asistent  medical|      0|   true|
|     Voicu  |          Instalator|      0|   null|
|      Zamfir|       Inginer civil|     24|   null|
|  Alexandra |Operator call center|      4|  false|
|         Ana|     Asistent social|     22|   null|
|       Alina|    Asistent  social|     21|   null|
|       Adela|    Manager  proiect|     15|   null|
+------------+--------------------+-------+-------+
only showing top 20 rows

In [ ]:
df_rename = data_without_personal_columns_df.withColumnRenamed('ocupatie','job')

In [ ]:
df_rename.show()

+------------+--------------------+-------+-------+
|        nume|                 job|vechime|inactiv|
+------------+--------------------+-------+-------+
|       Daria|   Inginer  mecanic |      7|   null|
|     Delia  |        Medic primar|      0|   true|
|       Diana|   Asistent  social |     23|   null|
|       Doina|Specialist  marke...|     11|   null|
|      Elena |            Contabil|      1|   null|
|     Eliza  |          Instalator|      0|   null|
|     Emilia |            Contabil|      1|   null|
|   Eugenia  |        Programator |      1|   null|
|     Felicia|      Specialist  HR|      8|   null|
|    Florina |               È˜ofer|      3|   null|
|      Vasile|     Manager proiect|     15|   null|
|      Victor|            Arhitect|     18|   null|
|      Viorel|          Farmacist |     32|  false|
|  Vladimir  |   Asistent  medical|      0|   true|
|     Voicu  |          Instalator|      0|   null|
|      Zamfir|       Inginer civil|     24|   null|
|  Alexandra |Operator call center|      4|  false|
|         Ana|     Asistent social|     22|   null|
|       Alina|    Asistent  social|     21|   null|
|       Adela|    Manager  proiect|     15|   null|
+------------+--------------------+-------+-------+
only showing top 20 rows

In [ ]:
df_rename.explain('extended')

== Parsed Logical Plan ==
Project [nume#93, ocupatie#95 AS job#168, vechime#96, inactiv#97]
+- Project [nume#93, ocupatie#95, vechime#96, inactiv#97]
   +- Relation[nume#93,varsta#94,ocupatie#95,vechime#96,inactiv#97,extra#98] parquet

== Analyzed Logical Plan ==
nume: string, job: string, vechime: int, inactiv: boolean
Project [nume#93, ocupatie#95 AS job#168, vechime#96, inactiv#97]
+- Project [nume#93, ocupatie#95, vechime#96, inactiv#97]
   +- Relation[nume#93,varsta#94,ocupatie#95,vechime#96,inactiv#97,extra#98] parquet

== Optimized Logical Plan ==
Project [nume#93, ocupatie#95 AS job#168, vechime#96, inactiv#97]
+- Relation[nume#93,varsta#94,ocupatie#95,vechime#96,inactiv#97,extra#98] parquet

== Physical Plan ==
*(1) Project [nume#93, ocupatie#95 AS job#168, vechime#96, inactiv#97]
+- *(1) ColumnarToRow
   +- FileScan parquet [nume#93,ocupatie#95,vechime#96,inactiv#97] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex[file:/content/drive/MyDrive/Colab Notebooks/practice/parquet], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<nume:string,ocupatie:string,vechime:int,inactiv:boolean>

In [ ]:
print((f.col('varsta') * f.lit(2) + f.col('vechime') - f.lit(3)) / f.lit(2) < 40)

Column<'(((((varsta * 2) + vechime) - 3) / 2) < 40)'>

In [ ]:
df_rename.printSchema()

root
 |-- nume: string (nullable = true)
 |-- job: string (nullable = true)
 |-- vechime: integer (nullable = true)
 |-- inactiv: boolean (nullable = true)

In [ ]:
df_clean_nume = (
    data_practice
    .withColumn('nume', f.trim(f.col('nume'))   )
    .withColumn('job',f.trim(f.col('job')))
    .withColumn()

)

In [ ]:
df_clean_nume.show()

+---------+--------------------+-------+-------+
|     nume|                 job|vechime|inactiv|
+---------+--------------------+-------+-------+
|    Daria|    Inginer  mecanic|      7|   null|
|    Delia|        Medic primar|      0|   true|
|    Diana|    Asistent  social|     23|   null|
|    Doina|Specialist  marke...|     11|   null|
|    Elena|            Contabil|      1|   null|
|    Eliza|          Instalator|      0|   null|
|   Emilia|            Contabil|      1|   null|
|  Eugenia|         Programator|      1|   null|
|  Felicia|      Specialist  HR|      8|   null|
|  Florina|               È˜ofer|      3|   null|
|   Vasile|     Manager proiect|     15|   null|
|   Victor|            Arhitect|     18|   null|
|   Viorel|           Farmacist|     32|  false|
| Vladimir|   Asistent  medical|      0|   true|
|    Voicu|          Instalator|      0|   null|
|   Zamfir|       Inginer civil|     24|   null|
|Alexandra|Operator call center|      4|  false|
|      Ana|     Asistent social|     22|   null|
|    Alina|    Asistent  social|     21|   null|
|    Adela|    Manager  proiect|     15|   null|
+---------+--------------------+-------+-------+
only showing top 20 rows